* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-family: sans-serif;
}

.golestan-logo .sm-logo {
  width: 143px;
}

.lg-logo {
  top: -17px;
}

.bg_color {
  background-color: #4a4a4a;
}

.menu_icon {
  margin-left: 257px;
}

.navbar-text-color {
  color: #afb2b4;
}

.h2-color-red {
  color: #ff0000;
}

.h2-color-gray {
  color: #94979a;
}

.h2-title-fs {
  font-size: 20px;
}

.section-1-bg {
  background-image: linear-gradient(#f8f8f8, #d9d9d9);
}

.golestan-tea-fs-md {
  font-size: 53px;
}

.navbar-desktop-lg {
  padding: 15px 30px 9px 0px;
}

.p-intro-text-fs {
  font-size: 19px;
}

.text-justify {
  text-align: justify;
}

.products-margin {
  margin-top: 150px;
}

.span-widget {
  margin-top: 39px;
}

.p-products-color {
  color: #52575b;
}

.p-products-fs {
  font-size: 18px;
}

@media all and (min-width: 768px) {
  .display-md {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
  }
}

@media all and (min-width: 1024px) {
  .border-lg {
    border-right: 1px solid #94979a;
  }
}
